body {
  padding-top: 50px;
}

footer {
  padding-left: 15px;
  padding-right: 15px;
}


/*
* Off Canvas
* --------------------------------------------------
*/

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    background: #ecf0f1;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -40%;
  }
  .row-offcanvas-left.active {
    left: 40%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 40%;
    margin-left: 12px;
  }
}

.navbar-header {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}

.navbar-brand {
  font-size: 30px;
}

#sidebar {
  padding: 15px;
  margin-top: 10px;
}

#map {
  width: 48vw;
  margin-top: 10px;
  height: 75vh;
}

#datastream-panel {
  max-height: 33vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#controller-logs-panel {
  max-height: 33vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#drone-logs-panel{
  max-height:33vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#http-api-logs-panel{
  max-height: 42vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#play-btn {
  position: fixed;
  right: 8px;
  top:8px;
}

#pause-btn {
  position: fixed;
  right: 8px;
  top:8px;
}
